*{
    text-align: center;
    background-color:rgb(102, 102, 102);
}
.header,
.list,
.text,
.subheader{
    color:white
}
.header,
.subheader{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    font-size:50px ;
    font-weight:bolder;
}
.subheader{
    font-size: 40px;
}
.images{
    height: auto;
    width: 300px;  
}
.text,
.list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.list{
font-size: 24px;
}
.list.unordered{
list-style: none;
}
.list.ordered{
    list-style:georgian ;
}